<div class="panel panel-{{paneltype}}">  
    {{#title}}
    <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h3>
    </div>
    {{/title}}

    <div class="panel-body">
        {{{body}}}
    </div>

    {{#footer}}
        <div class="panel-footer">{{{footer}}}</div>
    {{/footer}}
</div> 